@import url("https://fonts.googleapis.com/css?family=Inknut+Antiqua:400|Inter:500,600");

#website{
  padding-top: 50px;
}

#map{
  align-items: center;
  text-align: center;  
  padding-bottom: 100px;
  margin-left: -150px;
  margin-top: -35px;
}

.rectangle1{
  display: inline-block;
  width: 25px;
  height: 894.5px;
  transform: translateX(87vw);
  background: #89bfff;
}

.rectangle2{
  display: inline-block;
  width: 25px;
  height: 894.5px;
  transform: translateX(88vw);
  background: #2A46AC;
}

#k{
  font-family: var(--font-family-inter);
  color: #000;
  font-size: 20px;
}

#backgroundImages{
  margin-top: -904.5px;
  background-image: url("images/circle.png"), url("images/circle1.png"), url("images/circle2.png");
  background-position: top -150px right -100px , top -103px left -204px, top 611.31px right -100px;
  background-repeat: no-repeat;
  background-color: rgb(25,35,92);
}

#title{
  font-family: var(--font-family-inter);
  color: white;
  font-size: 60px;
  width: 1000px;
  height: 90px;
  text-align: left;
  margin-bottom:100px;
  margin-left:-150px;
  border-radius: 10px;
  text-shadow: 0px 3px 2px rgba(255,255,255,0.5);
}

#titleBlue{
  font-family: var(--font-family-inter);
  color: #97E0FF;
  text-shadow: 0px 3px 2px #54B9F2;
  font-size: 60px;
}

#description{
  font-family: var(--font-family-inter);
  color: #fff;
  font-size: 30px;
  margin-left:-320px;
  margin-top: -110px;
}


#state_header{
  margin-top: 10px;
  font-family: var(--font-family-inter);
  color:white;
  font-size: 50px;
}

#DataInfo{
  background-color: #6782AB;
  padding-top: 35px;
  text-align: center;
  height: 1000px;
}

#button_home{
  font-family: var(--font-family-inter);
  font-size: 20px;
  height: 50px;
  margin-top: 15px;
  border-color: white;
  --bs-btn-bg: rgba(0,0,0,0);
  --bs-btn-hover-bg: white;
  --bs-btn-color: white;
  --bs-btn-active-bg: rgba(0,0,0,0);
  --bs-btn-active-color: white;
  --bs-btn-hover-color: #6782AB;
  --bs-btn-hover-border-color: white;
  --bs-btn-active-border-color: white;
  border-width: 3px;
  border-radius: 20px;

}

#image1{
  transform: translateY(200px);
}

#searchContainer{
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  height:1000px;
}

#titleSection{
  height:200px;
  background-color: #E1F1FF;
  padding-top: 50px;
  background-image: url("images/icon1.png"), url("images/icon2.png"), url("images/icon3.png"), url("images/icon4.png");
  background-position: bottom -8px right 250px , top -5px right -30px, bottom 0px left 9px, top -55px left 320px;
  background-repeat: no-repeat;

}

#searchTitle{
  background-color: #A7E5FF;
  height:110px;
  margin-left: auto;
  margin-right: auto;
  padding-top:15px;
  width: 400px;
  font-size: 60px;
  font-family: var(--font-family-inter);
  border-radius: 15px;
}

#restSection{
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  position:relative;
  flex-wrap: wrap;  
}


#input{
  margin-left: 60px;
  width: 55%;
  margin-top: 20px;
  font-size: 20px;
  height: 50px;
  text-align:center;
  font-family: var(--font-family-inter);
  border-color: black;
  color:black;
  border-width: 0;
  background-color: #A7E5FF;
  border-radius: 100px;
  margin-right:-20px;
}

#inputButton{
  margin-top: 19px;
  margin-left:10px;
  font-size: 17px;
  height: 50px;
  width: 50px;
  text-align:center;
  border-width: 3px;
  border-color: rgba(0,0,0,0);
  --bs-btn-color: rgb(255,213,79);
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #A7E5FF;
  --bs-btn-hover-border-color: rgb(255,255,255);
  --bs-btn-active-bg: white;
  --bs-btn-active-color: rgb(255,213,79);
}

#Ingredients{
  background-color: #A7E5FF;
  font-family: var(--font-family-inter);
  font-size:20px;
  line-height:25px;
  padding-bottom:5px;
  padding-right: 50px;
  padding-left:50px;
  border-radius: 20px;
  margin-left:40px;
  margin-right:40px;
  margin-right:auto;
}

#IngredientsTitle{
  font-family: var(--font-family-inter);
  font-size: 50px;
  margin-bottom: 20px;
  margin-left:60px;
  margin-right:20px;
}

#Instructions{
  background-color: #A7E5FF;
  font-family: var(--font-family-inter);
  font-size:20px;
  line-height:20px;
  padding-bottom:5px;
  padding-right: 50px;
  padding-left:50px;
  border-radius: 20px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom: 50px;
  padding-bottom:40px;
}

#InstructionsTitle{
  font-family: var(--font-family-inter);
  font-size: 70px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom: 20px;
  margin-top: 50px;
}

#Directions{
  background-color: #A7E5FF;
  font-family: var(--font-family-inter);
  font-size:20px;
  line-height:20px;
  padding-bottom:5px;
  padding-right: 50px;
  padding-left:50px;
  border-radius: 20px;
  margin-left:auto;
  margin-left:40px;
  margin-right:40px;
  margin-right:auto;
  margin-bottom: 50px;
  padding-bottom:40px;
}

#DirectionsTitle{
  font-family: var(--font-family-inter);
  font-size: 70px;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left:40px;
  margin-right:40px;
}

#k{
  font-family: var(--font-family-inter);
  font-size: 30px;
  margin-top:-30px;
}

.screen a{
  display: contents;
  text-decoration: none;
}

.container-center-horizontal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > *{
  flex-shrink: 0;
  pointer-events: auto;
}

.home{
  align-items: center;
  background-color: rgb(25,35,92);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 982px;
  padding: 54px 0;
  width: 1512px;
}

.title{
  letter-spacing: 0;
  line-height: normal;
  min-height: 133px;
  text-align: center;
  width: 502px;
}

.span1{
  color: #000;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-1);
  font-weight: 500;
}

.overlap-group{
  height: 708px;
  position: relative;
  width: 656px;
}

.image-1{
  height: 565px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 49px;
  width: 565px;
}

.ellipse-3{
  border: 1px solid;
  border-color: #000;
  border-radius: 328px;
  height: 656px;
  left: 0;
  position: absolute;
  top: 0;
  width: 656px;
}

.icon-plane{
  height: 43px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 74px;
  width: 43px;
}

.image-3{
  height: 47px;
  left: 585px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: 47px;
}

.image-2{
  position: absolute;
  width: 43px;
  height: 43px;
  left: 100px;
  top: 55px;
}

.rectangle-2{
  background-color: #a3e9ff;
  border-radius: 30px;
  height: 84px;
  left: 150px;
  position: absolute;
  top: 624px;
  width: 356px;
}

.demo{
  color: #000;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 600;
  left: 192px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 647px;
  width: 271px;;
}

path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input:focus::placeholder {
  color: transparent;
}